.carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
      height: 400px;
      width: 100%;
      
  }

  .carousel-control-prev,.carousel-control-next{
      color: #feab3b;
  }

  .fa-chevron-right,.fa-chevron-left{
      font-size: 30px;
      font-weight: bolder;
      
  }

  .carousel-caption p{
      color: white;
      font-size: 25px;
      
  }
  .carousel-caption h5{
    color: #feab3b;
    font-size: 30px;
  }

  .carousel-indicators li{
      background-color: #feab3b;
      
  }