.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 1px solid #feab3b;
    border-radius: 50px;
    vertical-align: middle;
    background-color: black;
  }

  .fIcon{
      font-size: 30px;
      color:#feab3b;
      
  }

  .btn-circle-xl:hover {
    background-color: white;
    
  }
  